/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
.contenitore{
    width: 70%;
    margin: 0 auto;
    max-width: 1180px;
}

.btn{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

/* inizio header */
#barra-logo{
    position: fixed;
    width: 100%;
    z-index: 500;
    line-height: 100px;
    height: 100px;
    padding-left: 30px;
    background-color: white;
    vertical-align: middle;
}
.barra-log::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    vertical-align: middle;
}
.menu-sinistra{
    float: left;
    text-align: center;
}
.menu-sinistra ul li{
    display: inline-block;
}
.menu-destra{
    float: right;
    text-align: center;
}
.menu-destra ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
#login{
    float: right;
    width: 5%;
    text-align: right;
    margin-right: 50px;
}
#login .btn{
    display: inline;
    font-size: 15px;
}
/* fine header */


/* inizio sezione jumbotron */
#jumbotron{
    height: 800px;
    background-color: #b4d0e7;
    padding-top: 100px;
}
.contenitore-jumbo{
    width: 80vw;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
}
.testo-jumbo{
    font-size: 45px;
    margin-bottom: 30px;
    padding-top: 50px;
}
.testo-jumbo2{
    float: left;
    width: 25%;
}
.testo-jumbo2::after{
    content: "";
    display: table;
    clear: both;
}
.btn-prova-gratuita{
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-jumbo{
    width: 75%;
    float: left;
}
.img-jumbo::after{
    content: "";
    display: table;
    clear: both;
}
/* fine sezione jumbotron */


/* sezione business */
.sezione-business{
    height: 100%;
}

.sezione-business h2{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
}
.testo-fatturazione{
    padding-bottom: 40px;
    padding-right: 30px;   
}
.pallino-blu{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #0061ff; 
}
.pallino-bianco{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: grey;
    margin-left: 10px;
}

/* regole delle 3 tab business */
.cont-business{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.paragrafo-sinistra{
    float: left;   
    width: 30%;
    border: 1px solid darkgray;
    background-color:;
    min-height: 800px;
}
.paragrafo-centro{
    float: left;
    width: 30%;
    border: 1px solid darkgray;
    margin: 0 5%;
    min-height: 800px;
}
.paragrafo-destra{
    float: left;
    width: 30%;
    border: 1px solid darkgray;
    min-height: 800px;
}
.titolo-tab{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    font-weight: normal;
}
.cont-business h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cont-business h4{
    padding-bottom: 15px;
}
#mese{
    padding-bottom: 50px;
    color: darkgray;
}
.cont-business h5{
    padding-bottom: 20px;
    font-weight:normal;
}
.btn-prova{
    margin-bottom: 20px;
    font-size: 14px;
}
.cont-business h5 a{
    color: #0061ff;
}
.linea{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.spunta::before{
    color: #0061ff;
}

.sezione-business::after{
    content: "";
    display: table;
    clear: both;
}

/* regole paragrafo bot */
.paragrafo-bot{
    width: 100%;
    min-height: 150px;
    margin-top: 50px;
    background-color: ;
    border: 1px solid darkgray;
    float: left;
}
.cont-business2{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.cont-business2 h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cont-business2 h4{
    padding-bottom: 15px;
}
.cont-business2 h5{
    padding-bottom: 20px;
    font-weight:normal;
}
.btn-prova2{
    float: right;
    font-size: 14px;
    margin-top: 20px;
}
/* fine sezione business */


/* sezione partner-box */
.partner-box{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-color: tomato;
}
/* fine sezione partner-box */


/* inizio box operazioni */
.operazioni{
    margin-top: 50px;
    background-color: tomato;
    margin-bottom: 50px;
}
.riga{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.riga::after{
    content: "";
    display: table;
    clear: both;
}
.box-left{
    float: left;
    height: 250px;
    width: 30%;
    border: 1px solid black;
    background-color: yellow;
}
.box-central{
    float: left;
    width: 30%;
    height: 250px;
    border: 1px solid black;
    background-color: yellow;
    margin: 0 5%;
}
.box-right{
    float: left;
    height: 250px;
    width: 30%;
    border: 1px solid black;
    background-color: yellow;
}
/* fine sezione box operazioni */


/* inizio sezione partner con class"quadrato" */
.partner{
    margin-top: 50px;
    margin-bottom: 50px;
}
.partner::after{
    content: "";
    display: table;
    clear: both;
}

.quadrato-sinistra{
    float: left;
    height: 30vw;
    width: 30vw;
    background-color: yellow;

}
.quadrato-centro{
    float: left;
    height: 30vw;
    width: calc(100% - 60vw);
    background-color: lightgrey;

}
.quadrato-destra{
    float: left;
    height: 30vw;
    width: 30vw;
    background-color: yellow;

}
.oggetto{
    float: left;
    height: 15vw;
    width: 15vw;
    background-color: cornsilk;
    border: solid 5px red;
}
.box-prova-gratuita{
    float: left;
    height: 25vw;
    width: 100%;
    background-color: sandybrown;
}
/* fine sezione partner con class"quadrato" */


/* inizio sezione domande */
.domande{
    height: 600px;
    width: 100%;
    background-color: seashell;
    margin-bottom: 50px;
}
/* fine sezione domande */


/* inizio del footer */
footer{
    background-color: teal;
    width: 100%;
    padding-top: 50px;
    min-height: 450px;
}
.contenitore-footer{
    width: 80%;
    margin: 0 auto;
}
.contenitore-footer::after{
    content: "";
    display: table;
    clear: both;
}

footer li{
    list-style: none;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: left;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
.informazioni{
    float: left;
    text-align: center;
    margin-right: 50px;
}
.distanza{
    width: 15%;
}
.titolo{
   font-size: 25px;
   line-height: 60px;
}
.hr{
    margin-top: 100px;
    width: 100px;
    height: 50px;
    margin-left: 10%;
}
/* fine del footer */