/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.contenitore{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    max-width: 1180px;
}
#barra-logo{
    position: fixed;
    height: 100px;
    background-color: lightcyan;
    width: 100%;
    z-index: 500;
}
.contenuto-jumbo{
    height: 600px;
    background-color: tomato;
    width: 100%;
}
.sezione-business{
    background-color: lightgrey;
    height: 1000px;
}

.sezione-business h2{
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}
.paragrafo-sinistra{
    position: absolute;
    left: 19%;
    width: calc(33% - 100px);
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
    height: 700px;
}
/* .paragrafo-centro{
    position: relative;
    left: 40%;
    width: calc(33% - 60px);
    border: 1px solid black;
    background-color: tomato;
    height: 700px;
} */
