/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    scroll-behavior: smooth;
}
.contenitore{
    width: 70%;
    margin: 0 auto;
    max-width: 1180px;
}

.btn{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
.btn:hover{
    background-color: blue;
}


/* inizio header */
#barra-logo{
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    max-height: 70px;
    padding-left: 30px;
    background-color: white;
}
.barra-logo::after{
    content: "";
    display: table;
    clear: both;
}
nav img {
    vertical-align: middle;
}
nav ul li {
    display: inline-block;
    padding: 0 20px;
    line-height: 70px;
}
nav ul li a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    background-color: #f5f5f5;
    border-bottom: solid 2px #0061ff;
}
nav ul .logo a:hover {
    background-color: transparent;
    border: none;
}
.menu-sinistra{
    float: left;
    text-align: center;
}
.menu-destra{
    float: right;
    text-align: center;
    margin-right: 20px;
}
/* fine header */




/* inizio sezione jumbotron */
#jumbotron{
    height: 800px;
    background-color: #b4d0e7;
    padding-top: 100px;
}
.contenitore-jumbo{
    width: 80vw;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
}
.testo-jumbo{
    font-size: 45px;
    margin-bottom: 30px;
    padding-top: 50px;
}
.testo-jumbo2{
    float: left;
    width: 25%;
}
.testo-jumbo2::after{
    content: "";
    display: table;
    clear: both;
}
.btn-prova-gratuita{
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-jumbo{
    width: 75%;
    float: left;
}
.img-jumbo::after{
    content: "";
    display: table;
    clear: both;
}
.freccia-giu{
    margin-top: 30px;
    font-size: 40px;
    color: black;
}
.freccia-giu:hover{
    color: #0061ff;
}
/* fine sezione jumbotron */



/* inizio del main */
/* sezione business */
.sezione-business{
    height: 100%;
}

.sezione-business h2{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
}
.testo-fatturazione{
    padding-bottom: 40px;
    padding-right: 30px;   
}
.pallino-blu{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #0061ff; 
}
.pallino-bianco{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: grey;
    margin-left: 10px;
}


/* regole delle 3 tab business */
.cont-business{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.paragrafo-sinistra{
    float: left;   
    width: 30%;
    border: 1px solid darkgray;
    background-color:;
    min-height: 800px;
}
.paragrafo-centro{
    float: left;
    width: 30%;
    border: 1px solid darkgray;
    margin: 0 5%;
    min-height: 800px;
}
.paragrafo-destra{
    float: left;
    width: 30%;
    border: 1px solid darkgray;
    min-height: 800px;
}
.titolo-tab{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    font-weight: normal;
}
.cont-business h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cont-business h4{
    padding-bottom: 15px;
}
#mese{
    padding-bottom: 50px;
    color: darkgray;
}
.cont-business h5{
    padding-bottom: 20px;
    font-weight:normal;
}
.btn-prova{
    margin-bottom: 20px;
    font-size: 14px;
}
.cont-business h5 a{
    color: #0061ff;
}
.linea{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.spunta::before{
    color: #0061ff;
}

.sezione-business::after{
    content: "";
    display: table;
    clear: both;
}
/* fine regole 3 tab business */


/* regole paragrafo bot */
.paragrafo-bot{
    width: 100%;
    min-height: 150px;
    margin-top: 50px;
    background-color: ;
    border: 1px solid darkgray;
    float: left;
}
.cont-business2{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.cont-business2 h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.cont-business2 h4{
    padding-bottom: 15px;
}
.cont-business2 h5{
    padding-bottom: 20px;
    font-weight:normal;
}
.btn-prova2{
    float: right;
    font-size: 14px;
    margin-top: 20px;
}
.btn-prova2:hover{
    background-color: blue;
}
/* fine sezione business */



/* sezione partner-box */
.partner-box{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}
.partner-sinistra{
    float: left;
    width: 50%;
}
.partner-destra{
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-top: 50px;
}
.contenitore-partner{
    width: 80vw;
    max-width: 1180px;
    min-width: 780px;
    margin: auto;
    margin-top: 50px;
    min-height: 500px;
}
.partner-destra h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.partner-destra h4{
    padding-bottom: 40px;
    font-weight:normal;
    line-height: 25px;
}
.btn-bianco{
    text-decoration: none;
    padding: 8px 16px;
    border: solid 1px black;
    color: black;
}
.btn-bianco:hover{
    background-color: lightgray;
}
/* fine sezione partner-box */



/* inizio box operazioni */
.operazioni{
    margin-top: 150px;
    margin-bottom: 150px;
    min-height: 1000px;
}
.testo-operazioni{
    font-size: 40px;
    font-weight: bold;
}
.riga{
    width: 100%;
    min-height: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.riga h2{
    padding-bottom: 20px;
}
.riga::after{
    content: "";
    display: table;
    clear: both;
}
.box-left{
    float: left;
    min-height: 500px;
    width: 30%;
}
.box-central{
    float: left;
    width: 30%;
    min-height: 500px;
    margin: 0 5%;
}
.box-right{
    float: left;
    min-height: 500px;
    width: 30%;
}
.img-size{
    width: 100%;
}
/* fine sezione box operazioni */


/* inizio sezione degli 8 partner nei relativi box */
.partner{
    margin-top: 50px;
}
.testo-500{
    font-size: 40px;
    font-weight: bold;
}
.partner::after{
    content: "";
    display: table;
    clear: both;
}
.quadrato-sinistra{
    float: left;
    height: 30vw;
    width: 30vw;
    background-color: yellow;
}
.quadrato-centro{
    float: left;
    height: 30vw;
    width: calc(100% - 60vw);
    background-color: #f5f5f5;
    overflow: auto;
}
.quadrato-destra{
    float: left;
    height: 30vw;
    width: 30vw;
    background-color: yellow;
}
.oggetto{
    float: left;
    height: 15vw;
    width: 15vw;
    line-height: 15vw;
    text-align: center;
}
.oggetto-2{
    float: left;
    height: 15vw;
    width: 15vw;
    line-height: 20vw;
    text-align: center;
}
.oggetto-7{
    float: left;
    height: 15vw;
    width: 15vw;
    line-height: 18vw;
    text-align: center;
}
.img-svg{
    width: 50%;
    filter: invert(99%) sepia(10%) saturate(158%) hue-rotate(243deg) brightness(114%) contrast(100%);
}
.color-1{
    background-color: #a2d39b;
    border: solid 12px #d0e9cd;
}
.color-2{
    background-color: #61082b;
}
.color-3{
    background-color: #0093ce;
}
.color-4{
    background-color: #ff1c1c;
}
.color-5{
    background-color: #d5001f;
}
.color-6{
    background-color: #b4d0e7;
}
.color-7{
    background-color: #0d2481;
}
.color-8{
    background-color: #ffd830;
}
.contenitore-design{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
.img-design{
    width: 25%;   
}
.linea-2{
    width: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.citazione{
    margin-top: 40px;
}
/* fine sezione degli 8 partner nei relativi box */



/* inizio box prova gratuita */
.contenitore-prova-gratuita{
    width: 100%;
    background-color: #b4d0e7;
    margin-bottom: 50px;
}
.box-prova-gratuita{
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 400px;
}
.azienda-sinistra{
    float: left;
    width: 70%;
    font-size: 40px;
    color: #61082b;
}
.azienda-destra{
    float: left;
    width: 30%;
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
    display: block;
}
.box-prova-gratuita .btn-prova-gratuita{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px 50px;
}
.box-prova-gratuita .btn-prova-gratuita:hover{
    background-color: lightgray;
}
/* fine box prova gratuita */



/* inizio sezione domande */
.domande{
    min-height: 450px;
    width: 100%;
    margin-bottom: 50px;
}
.titolo-domande{
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
}
.testo-domande{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
.freccia-menu{
    float: right;
    padding-right: 30px;
}
.freccia-menu:hover{
    cursor: pointer;
}
.risposta{
    display: none;
    font-weight: normal;
    padding-top: 10px;
}
.freccia-menu:hover + .risposta{
    display: block;
}
/* fine sezione domande */
/* fine del main */



/* inizio del footer */
footer{
    background-color: #000000;
    width: 100%;
    padding-top: 50px;
    min-height: 500px;
}
footer a:hover{
    text-decoration: underline;
}
footer .titolo:hover{
    text-decoration: none;
}
.contenitore-footer{
    width: 80%;
    margin: 0 auto;
}
.contenitore-footer::after{
    content: "";
    display: table;
    clear: both;
}
footer li{
    list-style: none;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: left;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
.informazioni{
    float: left;
    text-align: center;
    margin-right: 50px;
}
.distanza{
    width: 15%;
}
.titolo{
   font-size: 25px;
   line-height: 60px;
}
.hr{
    margin-top: 100px;
    width: 100px;
    height: 50px;
    margin-left: 10%;
}
footer .lingua{
    font-size: 12px;
    color: #d3d3d6; 
}
.freccia-ita{
    padding-top: 10px;
    padding-left: 5px;
}
/* fine del footer */